.tree-buttons {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: center;
}

.tree-buttons > div {
    margin-left: 2px
}

.modal {
    display: block;
    background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

